<a href="https://colab.research.google.com/github/sirunde/FaceRecognition/blob/master/assignment_1_Park_B00977950.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Jiyun Park B00977950 jpark430@binghamton.edu

In [2]:
import numpy as np
import scipy

## 1 Numerical Inversion by Binary Search [16 points]

In [3]:
def Transcendental(x):
  return x*np.exp(x)+x

In [4]:
def gamma(x):
  return scipy.special.gamma(x)

In [16]:
def invert(func, y, d=()):
  def setbound(func,y):
    setting = False
    if(func(0)< y):
      p1 = 0
      setting = True
    else:
      p2 = 0
    if (d):
      p1 = d[0]
      p2 = d[1]
      return p1,p2
    if setting == True:
      x = p1
      while(True):
        if func(x)< y:
          x =x*2+1
        else:
          p2 = x
          break
    else:
      x = p2
      while(True):
        if func(x)> y:
          x = x*2-1
        else:
          p1 = x
          break
    return p1,p2

  p1,p2 = setbound(func,y)
  print(p1,p2)

  diff= 1e-8
  x = (p1+p2)/2
  output = func(x)
  while(output >= y+diff or output <= y-diff):
    if (output >= y+diff):
      p2 = x
      x = (p1+p2)/2
    if (output <= y-diff):
      p1 = x
      x = (p1+p2)/2
    output = func(x)

  return x

In [18]:
# Test case
a = invert(Transcendental,13788,)
print(a)
print(Transcendental(a))

0 15
7.51421256154174
13788.000000009279

In [ ]:
print(Transcendental(12))

1953069.497028047

## 2 Numerical Integration [7 points]

In [23]:
import numpy as np
import random

In [41]:
def integrate(func,lo,hi):
  lower = lo
  higher = hi
  sampl = 500_000
  sum = 0
  for i in range(sampl):
    rand = random.uniform(lo,hi)
    sum += func(rand)

  output = ((higher-lower)*sum)/(sampl)
  return output

In [43]:
def sinx(x):
  return np.sin(x)/x
sinx(3)

0.0470400026866224

In [44]:
# Test case
print(integrate(sinx,-1,1))

1.8920739691097914

## 3 Gradient Descent [39 points]

## 4 Random Variates [38 points]